.vscode/*
*egg-info*

# Bazel 
**bazel-bin**
**bazel-out**
**bazel-cpp**
**bazel-testlogs**
**lock

# Traced PyTorch models
**.pt

# ONNX/Olive models
cpp/main/models/
cpp/olive/models/
**cache**
**onnx

# Pycache
**/__pycache__/**


